@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --bg-1:#F7FD04;
    --bg-2:#F9B208;
    --font-col: #000;
}



body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom,var(--bg-1) 0%,var(--bg-2) 100%);
}
.wrapper{
    margin: 7.5rem auto;
    max-width: 25rem;
    width: 100%;
    background-color:transparent;
    border-radius: 5px;
    padding: 2rem;
}
.wrapper header
{
    color: var(--font-col);
    font-size: 1.5rem;
    font-weight: 600;   
}
.wrapper .inputField
{
    display: flex;
    height: 2.7rem;
    width: 100%;
    margin: 1rem 0;
}
.inputField input
{
    outline: none;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 0.875rem;
    border-radius: 3px;
    padding-left: 0.87rem;
}
.inputField button
{
    width: 3rem;
    height: 100%;
    border: none;
    outline: none;
    background: #2940D3;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.1875;
    margin-left: 0.3255rem;
    opacity: 1;
    pointer-events: none;
}
.inputField button.active
{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .todolist
{
    margin-top: 1rem;
    max-height: 15.5rem;
    overflow-y: auto;
}

.todolist li
{
    list-style: none;
    height: 2.8125rem;
    line-height: 2.8125rem; 
    position: relative;
    background: #f2f2f2;
    border-radius: 0.275rem;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    cursor: default;  
    overflow: hidden;
}

.todolist li span
{
    position: absolute;
    right: -3rem;
    color: white;
    width: 2.8125rem;
    text-align: center;
    background: #00AF91;
    border-radius: 0 0.1875rem 0.1875rem 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.todolist li:hover span
{
    right: 0px;
}
.wrapper .footer
{
    color: var(--font-col);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;    
}

.footer button
{

    border: none;
    outline: none;
    background: #FB3640;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.1875rem;
    padding: 0.375rem 0.625rem;
    opacity: 1;
    pointer-events: auto;
}
.footer button.active
{
    opacity: 1;
    pointer-events: auto;
}

#icon
{
    cursor: pointer;
}